<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>WAI On Line Meetings</title>
    <link rel="stylesheet" type="text/css" href="/public/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <form action="/" method="post">
      <fieldset>
	<input type="radio" name="sheetrange" id="Worc" value="Worc"
	       <% rowobj.pagecheck='Worc';if (rowobj.checked == 'Worc'){  %> checked <%;}%> > 
	<label for="Worc">Worcester Area Meetings</label>
	<input type="radio" name="sheetrange" id="nonWorc" value="nonWorc"
	       <%  rowobj.pagecheck='nonWorc';if (rowobj.checked == 'nonWorc'){  %> checked <%;}%> > 
	<label for="nonWorc">Non-Worcester Area</label>
	  <button type="submit" name="day" value="<%date=new Date;var d=date.getDay()%><%= d%>">
	    Meetings Today
	  </button>
	  <button  type="submit" name="day"   value="0">Sunday </button>
	  <button  type="submit" name="day"    value="1">Monday </button>
	  <button  type="submit" name="day"  value="2">Tuesday </button>
	  <button  type="submit" name="day"   value="3">Wednesday</button>
	  <button  type="submit" name="day"  value="4">Thursday</button>
	  <button  type="submit" name="day"   value="5">Friday </button>
	  <button   type="submit" name="day"  value="6">Saturday </button>
	</form>
      </fieldset>
    </div>
  <% if (rowobj.hits !== null){ %>
  <table border="2"><tr><th><%= rowobj.day%></th><th>Time</th><th>Format</th><th>URL</th><th>ID</th><th>Password</th><th>Dial-in</th> </tr> 
<% rowobj.hits.forEach(function(i){ %>
    <tr>
      <td><%= i.time %></td>
      <td><%= i.name%></td>
      <td><%= i.topic%></td>
      <td><a href=<%= i.url%> >Zoom link</a></td>
      <td><%= i.mtgid%></td>
      <td><%= i.pwd%></td>
      <td><%= i.phone%></td>
    </tr>
    <% })} %>
    </table>
  </body>    
</html>
