<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>WAI On Line and in Person Meetings</title>
    <link rel="stylesheet" type="text/css" href="/style.css">

  </head>
  <body>
    <div class="container">
      <form action="/" method="post">
	<fieldset>
	  <input type="radio" name="sheetrange" id="Worc" value="Worc"
		 <% rowobj.pagecheck='Worc';if (rowobj.checked == 'Worc'){  %> checked <%;}%> > 
	  <label for="Worc">On Line (Zoom) Meetings</label>
	  <input type="radio" name="sheetrange" id="inPerson" value="inPerson"
		 <%  rowobj.pagecheck='inPerson';if (rowobj.checked == 'inPerson'){  %> checked <%;}%> > 
	  <label for="inPerson">In Person Meetings</label>
	  <input type="radio" name="sheetrange" id="nonWorc" value="nonWorc"
		 <%  rowobj.pagecheck='nonWorc';if (rowobj.checked == 'nonWorc'){  %> checked <%;}%> > 
	  <label for="nonWorc">Non-Worc On Line</label><br>
	  <button type="submit" name="day" value="<%date=new Date;var d=date.getDay()%><%= d%>">
	    Meetings Today
	  </button>
	  <button  type="submit" name="day"   value="0">Sunday </button>
	  <button  type="submit" name="day"    value="1">Monday </button>
	  <button  type="submit" name="day"  value="2">Tuesday </button>
	  <button  type="submit" name="day"   value="3">Wednesday</button>
	  <button  type="submit" name="day"  value="4">Thursday</button>
	  <button  type="submit" name="day"   value="5">Friday </button>
	  <button   type="submit" name="day"  value="6">Saturday </button>
	</fieldset>
      </form>
    </div>
  <% if (rowobj.hits !== null){ %>
  <table><tr>
      <th><%= rowobj.day %></th>
      <th>Name</th>
      <th>Format</th>
      <th><%= rowobj.checked == 'inPerson'?"Building":"URL" %></th>
      <th><%= rowobj.checked == 'inPerson'?"Address":"ID" %></th>
      <th><%= rowobj.checked == 'inPerson'?"Town":"Password" %></th>
      <th><%= rowobj.checked == 'inPerson'?"Notes":"Dial-in" %></th>
    </tr> 
<% rowobj.hits.forEach(function(i){ %>
    <tr>
      <td><%= i.time %></td>
      <td><%= i.name%></td>
      <td><%= i.topic%></td>
      <td><%- i.url%> </td>
      <td><%= i.mtgid%></td>
      <td><%= i.pwd%></td>
      <td><%= i.phone%></td>
    </tr>
    <% })} %>
    </table>
  </body>    
</html>
